/* Design by http://www.dreamtemplate.com */


@import url("style.css");

superscript { font-size:0.65em; vertical-align:5px; }

td.pub {
        color: #353c46;
        float: left;
        /*min-width: 600px;*/
        width: 100%;
        margin-bottom: 10px;
	padding: 0;
	padding-bottom: 5px;
}
/*#pub p { margin: 0.25em 0; }*/
.pubinfo {
        padding: 4px;
	float: left;
	width: 87%;
	text-align: justify;
        margin-left: 10px;
}
.publink {
        float: right;
        vertical-align: center;
	text-align: center;
        clear: right;
        padding-right: 5px;
        padding-top: 5px;
}
#disclaimer {
    text-align: justify;
    color: #ff0000;
    font-size: 10px;
    font-style: italic;
}

body.dark-mode .pub-table td.pub {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode .pub-table td.pub:nth-child(odd) {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark-mode .pub-table td.pub:nth-child(even) {
    background-color: #2a2a2a;
    color: #ffffff;
}

body.dark-mode h1,
body.dark-mode h2 {
    color: #e0e0e0; /* Dark mode font color */
}

.pub:nth-child(odd) {
        background-color: #555555; /* Dark mode background color */
}

.pub:nth-child(even) {
    background-color: #ec4949; /* Light mode background color */
}

body.dark-mode .pub:nth-child(odd) {
        background-color: #2a2a2a; /* Dark mode background color */
}

body.dark-mode .pub:nth-child(even) {
    background-color: #2a2a2a; /* Dark mode background color */
}

.pub_grey {
        background-color: #555555; /* Dark mode background color */
}

body.dark-mode .pub_grey {
    background-color: #555555; /* Dark mode background color */
}

.pub_pink {
        background-color: #555555; /* Dark mode background color */
}

body.dark-mode .pub_pink {
        background-color: #555555; /* Dark mode background color */
}


